
body {
    background-image: url('https://wallpaperaccess.com/full/3415087.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    padding-top: 40px;
    margin: 0; /* Reset default margin */
}

.container {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8); /* Add semi-transparent white background to container */
    padding: 20px; /* Add padding to container */
    border-radius: 8px; /* Add border radius to container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow to container */
    margin: auto; /* Center container horizontally */
}
.repo-details span {
font-weight: bold;
margin-right: 10px; /* Add right margin for spacing */
}
.btn-search {
    background-color: #0366d6;
    color: #ffffff;
    border-color: #0366d6;
    transition: background-color 0.3s ease;
}

.btn-search:hover {
    background-color: #0550a5;
    border-color: #0550a5;
}

#profile {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    display: none;
}

#profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

#profile-name {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#profile-bio {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

#profile-stats {
    margin-top: 20px;
    text-align: center;
}

#repos-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#repos-list li {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f7f7f7;
}

#repos-list li a {
    color: #0366d6;
    text-decoration: none;
    transition: color 0.3s ease;
}

#repos-list li a:hover {
    color: #0550a5;
}

.repo-details {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repo-details p {
    margin: 0;
}

.repo-details span {
    font-weight: bold;
}